@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(238,217,174);
    background: linear-gradient(90deg, rgba(238,217,174,1) 0%, rgba(241,216,239,1) 50%, rgba(205,240,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.text-green {
    color: #29AF33;
}

body > * {
   margin: 0 10%;
}

.navbar {
    width: 80%;
    height: 80px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 32px;
    margin-right: 10px;
}

.company-name {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 0.25s;
}

.nav-links a:nth-of-type(1) {
    color: #29AF33;
}

.nav-links a:hover {
    color: white;
    text-decoration: underline;
    background-color: #29AF33;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.nav-buttons button {
    border: none;
    background: none;
    width: 80px;
    height: 50px;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.2s;
}

.nav-buttons button:nth-of-type(2) {
    color: white;
    background-color: #29AF33;
}

.nav-buttons button:hover {
    background-color: #165f1b;
}

.nav-buttons button:nth-of-type(1):hover {
    background: none;
    border: 3px solid #29AF33;
}

.christmas-time {
    height: 80vh;
    display: flex;
    align-items: center;
}

.christmas-time img {
    width: 70%;
}

.card-heading {
    font-size: 48px;
    letter-spacing: 2px;
}

.card-text {
    font-size: 20px;
}

h3 {
    font-size: 36px;
    margin: 0.5rem;
}

.card-button {
    border: none;
    background-color:#29AF33;
    padding: 1em 3em;
    border-radius: 10px;
    color: white;
    transition: all 0.2s;
}

.card-button:hover {
    background-color: #165f1b;
}

.santa-is-coming {
    height: 80vh;
    display: flex;
    align-items: center;
    gap: 50px;
}

.santa-is-coming img {
    width: 50%;
}

.christmas-wish {
    height: 120vh;
    display: flex;
    align-items: center;
    gap: 20px;
}

.christmas-wish img {
    width: 50%;
}

.gift-items {
    margin: 0;
    padding: 0 10%;
    height: 80vh;
    background-color:rgba(205,240,255,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mini-cards {
    display: flex;
    justify-content: space-around;
    
}

.mini-card {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-box {
    background-color: rgb(255, 196, 0);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img {
    width: 70%;
}

.about-event {
    background-color: white;
    margin: 0;
    padding: 0 10%;
    height: 120vh;
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-event-img {
    width: 50%;
}

.about-content {
    display: flex;
    flex-direction: column;
}

.about-cards {
    display: flex;
    gap: 20px;
}

.join-party > img {
    width: 50%;
}

.join-party {
    padding: 0 10%;
    margin: 0;
    height: 100vh;
    background-color: rgba(205,240,255,1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.main-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 2px 2px 5px grey;
    gap: 10px;
}

.main-form button {
    width: 50%;
}

input[type=text], input[type=email] {
    padding: 1em;
    box-sizing: border-box;
    border: 3px solid lightgray;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    transition: all 0.2s;
}

input[type=text]:invalid, input[type=email]:invalid {
    border-color: red;
}

input[type=text]:focus, input[type=email]:focus {
    border-color: darkgray;
}

.icon {
    width: 50px;
    position: relative;
    top: 220px;
    left: -20px;
    transform: rotate(15deg);
    transition: all 0.2s;
}

.icon:hover {
    transform: rotate(-15deg);
}

.footer {
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    width: 80%;
}

.footer-img {
    width: 100%;
}

.social-media {
    display: flex;
    gap: 10px;
}

.fa {
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background-color: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

@media (max-width: 910px) {
    .navbar {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .separator {
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: 3px solid #165f1b;
    }

    .separator:nth-of-type(3) {
        margin-bottom: 0;
        border: none;
    }

    .christmas-time {
        flex-direction: column;
        height: auto;
    }

    .christmas-time img {
        width: 100%;
    }

    .christmas-card {
        display: flex;
        flex-direction: column;
    }

    .santa-is-coming {
        flex-direction: column-reverse;
        height: auto;
    }

    .christmas-wish {
        flex-direction: column;
        height: auto;
    }

    .gift-items {
        height: auto;
        padding-bottom: 20px;
    }

    .mini-cards {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .mini-card {
        width: 50%;
        border-radius: 10px;
        border: 1px solid;
        padding: 1em;
        background-color: white;
    }

    .about-event {
        flex-direction: column-reverse;
        height: auto;
        padding-bottom: 20px;
    }

    .about-event-img {
        width: 100%;
    }

    .about-cards {
        flex-direction: column;
    }

    .join-party {
        height: auto;
        flex-direction: column;
    }

    .form-container {
        width: 100%;
    }

    .main-form button {
        width: auto;
    }

    .join-party > img {
        width: 100%;
    }

    .join-party {
        padding-bottom: 20px;
    }

    .footer {
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }

    .footer-content {
        flex-direction: column;
        justify-content: center;
    }

    .footer-text {
        text-align: center;
    }
}